
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="shared/layoutVisitor :: headFragment">
</head>
<body>
	<div th:include="shared/layoutVisitor :: headerFragment"
		th:if="${#httpServletRequest.remoteUser == null}"></div>
	<div th:include="shared/layoutLogged :: headerFragment"
		th:if="${#httpServletRequest.remoteUser != null}"></div>
	<div class="container">
		<div class="page-header clearfix">
			<h1>Hello world!</h1>
		</div>
		<div id="myCarousel" class="carousel slide" data-ride="carousel"
			th:if="${not #lists.isEmpty(model.getNewsList())}">

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				 <div th:each="news, row : ${model.getNewsList()}" th:remove="tag">
					<div class="item active" th:if="(${row.index} == 0)">
						<img th:src="@{/assets/img/education-reform.jpg}" class="img-responsive"
							alt="Responsive image" />
						<div class="carousel-caption">
							<h4>
								<a href="#" th:utext="${news} ? ${news.getTitle()}"></a>
							</h4>
							<p th:utext="${news} ? ${news.getText()}"></p>
						</div>
					</div>
					<div class="item" th:if="(${row.index} &gt; 0)">
						<img th:src="@{/assets/img/edupic.png}" class="img-responsive"
							alt="Responsive image" />
						<div class="carousel-caption">
							<h4>
								<a href="#" th:utext="${news} ? ${news.getTitle()}"></a>
							</h4>
							<p th:utext="${news} ? ${news.getText()}"></p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Carousel Inner -->


			<ul class="list-group col-sm-4">
				<div th:each="news, row : ${model.getNewsList()}">
					<li data-target="#myCarousel"
						data-th-attr="data-slide-to=${row.index}"
						class="list-group-item active" th:if="(${row.index} == 0)"><h4
							th:utext="${news} ? ${news.getTitle()}"></h4></li>
					<li data-target="#myCarousel"
						data-th-attr="data-slide-to=${row.index}" class="list-group-item"
						th:if="(${row.index} &gt; 0)"><h4
							th:utext="${news} ? ${news.getTitle()}"></h4></li>
				</div>
			</ul>

			<!-- Controls -->
			<div class="carousel-controls">
				<a class="left carousel-control" href="#myCarousel"
					data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left"></span>
				</a> <a class="right carousel-control" href="#myCarousel"
					data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>

		</div>
		<!-- End Carousel -->
		<h2>News</h2>
		<div th:if="${not #lists.isEmpty(model.getNewsList())}">
			<div th:each="news : ${model.getNewsList()}"
				class="panel panel-default">
				<div th:utext="${news} ? ${news.getTitle()}" class="panel-heading">A</div>
				<div th:utext="${news} ? ${news.getText()}" class="panel-body">B</div>
			</div>
		</div>
		<div th:if="${#lists.isEmpty(model.getNewsList())}">There are no
			news yet - just you wait !</div>
	</div>
	<script th:src="@{/assets/js/newsCarousel.js}"></script>
</body>
</html>
