<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:include="shared/layoutVisitor :: headFragment">
</head>
<body>
<div th:if="(${loginFailed})" class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  Login failed
</div>
<div th:if="(${loggedOut})" class="alert alert-success">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
  Successfully logged out !
</div> 
<div th:if="(${loggedIn})" class="alert alert-success">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
  Successfully logged in !
</div> 
<div th:if="(${unathorizedAccess})" class="alert alert-warning">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
  403 - Unauthorized access <br />
  First you need to log in
</div>
<div th:if="(${unathorizedAccess}) and (${#httpServletRequest.remoteUser != null})" class="alert alert-warning">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
  403 - Unauthorized access
</div>
	<div th:if="${#httpServletRequest.remoteUser == null}">
		<form name="f" th:action="@{/login}" method="post">
			<fieldset>
				<legend>Please Login</legend>
				<label for="username">Username</label> <input type="text"
					id="username" name="username" /> <label for="password">Password</label>
				<input type="password" id="password" name="password" />
				<div class="form-actions">
					<button type="submit" class="btn">Log in</button>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>