<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="shared/layoutVisitor :: headFragment">
</head>
<body>
	<div th:include="shared/layoutVisitor :: headerFragment"
		th:if="${#httpServletRequest.remoteUser == null}"></div>
	<div th:include="shared/layoutLogged :: headerFragment"
		th:if="${#httpServletRequest.remoteUser != null}"></div>

	<div class="container">
		<div class="page-header clearfix"><h2>Sign Up !</h2></div>
		<div th:include="shared/wipFragment :: wipFragment"></div>
	</div>
</body>
</html>
