
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="shared/layoutVisitor :: headFragment">
</head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#news_table').dataTable({
				"columns" : [ {
					"width" : "20%",
				}, null, {
					"orderable" : false
				} ]
			});
		});

		function removeNews(id) {
			var confirmed = confirm("Are you sure that you want to remove this news ?");
			if (confirmed) {
				var jsonData = {
					"id" : id
				};
				window.location.replace("../admin/remove-news?id=" + id);
				/*$.ajax({
					url : "../admin/remove-news?id=" + id,
					type : "GET",
					dataType : "json",
					data : JSON.stringify(jsonData),
					success : function(data) {
						alert("suc");
					},
					error : function(data, status, er) {
						alert("error: " + data + " status: " + status + " er:"
								+ er);
					}
				})*/
				/*$.get("../admin/remove-news?id=" + id, function(data) {
					alert("Load was performed.");
				});*/
			}
		}
	</script>
	<div th:include="shared/layoutVisitor :: headerFragment"
		th:if="${#httpServletRequest.remoteUser == null}"></div>
	<div th:include="shared/layoutLogged :: headerFragment"
		th:if="${#httpServletRequest.remoteUser != null}"></div>
	<div class="container">
		<div class="page-header clearfix">Edit News</div>

		<div class="alert alert-success" role="alert"
			th:if="${!#strings.isEmpty(model.getMessage())}">
			<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
			<span class="sr-only">Success:</span> <span th:text="${model.getMessage()}"></span>
		</div>
		<table id="news_table" class="table table-striped dataTable no-footer">
			<thead>
				<tr>
					<th>Title</th>
					<th>Text</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="news, row : ${model.getNewsList()}">
					<td th:text="${#strings.abbreviate(news.getTitle(), 200)}"></td>
					<td th:text="${#strings.abbreviate(news.getText(), 200)}"></td>
					<td
						th:utext="${'&lt;a href=../admin/edit-news&gt;&lt;span class=&quot;glyphicon glyphicon-pencil&quot;&gt;&lt;/span&gt; &lt;/a&gt;&nbsp;
					&lt;a href=# onclick=removeNews(' + news.getId() + ');&gt;&lt;span class=&quot;glyphicon glyphicon-remove&quot;&gt;&lt;/span&gt;'}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>